<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VenomKB</title>
    <meta name="description" content="React Redux React-Router with Webpack Boilerplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="index/styles/venomkb.css">
</head>

<body class="view-login">

	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				
				<div class="navbar-header">
					<a routerLink="/" class="navbar-brand" routerLinkActive="active">VenomKB</a>
				</div>

				<ul class="nav navbar-nav">
					<li><a routerLink="/" routerLinkActive="active">Home</a></li>
					<li><a routerLink="/about" routerLinkActive="active">About</a></li>
					<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
					<li><a routerLink="/publications" routerLinkActive="active">Publications</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a routerLink="/data" routerLinkActive="active">Data</a></li>
					<li><a routerLink="/download" routerLinkActive="active">Download</a></li>
				</ul>

			</div>
		</nav>
	</header>

	<div class="container">

		<main>

			<div class="jumbotron">
				<div class="container">

					<h2>About VenomKB</h2>

					<p>
						Venoms&#8212;one of the most common and iconic classes of animal toxins&#8212;have been used for various therapeutic purposes since the dawn of recorded history. They are complex mixtures of proteins, carbohydrates, steroids, and inorganic cofactors, many of which have complex and highly specialized mechanisms of action when introduced to animal tissue. Recently, science has found a number of ways these mechanisms of action can be exploited for purposes beneficial to human health.
					</p>

					<p>
						VenomKB was designed to address the fact that these discoveries are not collected in any single location, as well as the belief that the vast majority of therapeutic uses for venom components have yet to be discovered. 
					</p>

					<hr style="width: 100%; color: black; height: 1px; background-color: black" />

					<h3>Technical information</h3>
					<p><small>
							The current version of VenomKB is a web application that runs on NodeJS, with a front-end written in AngularJS and ReactJS. The data model for all VenomKB database records runs on MongoDB. All of the code for the VenomKB website can be found on GitHub, at <a href="https://github.com/JDRomano2/venomkb_new.git">JDRomano2/venomkb_new</a>. All of our code is released under the <a href="./public/files/LICENSE.txt">GNU GPLv3 License</a>, which means you have the right to reuse and modify the code for both personal and commercial use, but you must disclose the original source and maintain the same license agreement, and that VenomKB and the data contained within it come without any warranty or any assumption of liability.</small>
					</p>
				</div>
			</div>

		</main>

		<footer class="footer">

			<div class="container">

				<div class="container bottom-logos">
					<img src="./public/img/tlab_black.svg" height=48 class="pull-left" />
					<img src="./public/img/286OfficialColumbiaLogo.svg" height=48 class="pull-right" />
				</div>
				
				<small>
					Copyright &copy; 2017 by <a href="http://jdromano.net">Joe Romano</a> in the <a href="http://tatonettilab.org">Tatonetti Lab</a> at <a href="http://columbia.edu">Columbia University</a>
				</small>

				<!-- <nav class="bottom-nav"> -->
				<!-- 	<ul> -->
				<!-- 		<li><a href="">About</a></li> -->
				<!-- 		<li><a href="">Contact</a></li> -->
				<!-- 	</ul> -->
				<!-- </nav> -->

			</div>
			
		</footer>

	</div>

</body>

</html>