html {
  min-height: 100%;
}

.active {
    color: #FFF !;
}

body {
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
}


header .navbar {
    border-radius: 0;
    margin: 0;
}

main {
    min-height: 500px;
    padding: 50px 50px;
}

#main-wrapper {
  height: 100%;
  min-height: 100%;
}

.bottom-logos {
    margin: auto;
    position: absolute;
    bottom: 40px;
}

.bottom-text {
  margin: auto;
  position: absolute;
  bottom: 5px;
}

.jumbotron {
    border-radius: 	6px;
}

button {
    margin-right: 6px;
    margin-left: 6px;
}

footer {
    clear: both;
    z-index: 10;

    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 45px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;

    border-top: 1px solid #eaeaea;
    color: #777777;
    background-color: #FFF;
}


/* REACT VIRTUALIZED */
/* Collection default theme */

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.ReactVirtualized__Table__row {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  -webkit-flex: 0 0 24px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}


/* REACT VIRTUALIZED SELECT */
.VirtualSelectGrid {
  z-index: 1;
}

.VirtualizedSelectOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5rem;
}
.VirtualizedSelectFocusedOption {
  background-color: rgba(0, 126, 255, 0.1);
}
.VirtualizedSelectDisabledOption {
  opacity: 0.5;
}
.VirtualizedSelectSelectedOption {
  font-weight: bold;
}

/* Remove blue focus outline around anything clicked */
*:focus {
  outline: none;
}


/* Custom styles */

#venomkb-app {
  font-size: 0.9em;
}

#proteins-virtualized {
  font-family: lmroman;
  font-size: .9em;
  min-width: 850px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background: rgba(255,255,255,.1);
  background-image: none;
  background-origin: padding-box;
  background-color: rgba(255,255,255,0.1);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  font-size: 14.4px;
}

#search-bar-wrapper {
  padding-top: 10px;
  margin: 10px;
}

#search {
  box-sizing: border-box;
  position: relative;
}

#search-control {
  background-color: rgb(255,255,255);
  border-bottom-color: rgb(204,204,204);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: separate;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(204,204,204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204,204,204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204,204,204);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(51,51,51);
  cursor: default;
  font-size: 14.4px;
  height: 36px;
  width: 100%;
  outline-color: rgb(51,51,51);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

.input {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0,0,0,0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-width: 0px;
  display: inline-block;
  box-shadow: none;
  box-sizing: content-box;
  color: rgb(0,0,0);
  cursor: default;
  font-size: 14.4px;
  line-height: 14px;
  margin: 0px;
  outline-width: 0px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 8px;
  text-align: start;
  width: 97%;
}

#clear-input {
  float: right;
}

#return-link {
  margin-top: 10px;
}

.jdr-box{
  border-style: solid;
  border-width: 1px;
  border-color: #cacaca;
  padding:8px;
  border-radius: 5px;
}

.proteins-list {
  font-family: monospace;
}

#num-results {
  float: right;
}

pre.taxonomy-detail {
  border: none;
  background-color: #ffffff;
}

.bootstrap-image-resize {
  width: 100%;
}